header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: $background-color-2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            height: 30px;
            width: 30px;
            border-radius: 5px;
            object-fit: cover;
            margin-right: 10px;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .search-box {
        display: flex;
        align-items: center;
        color: $sub-text-color;
        background-color: $background-color;
        width: 40%;
        border-radius: 5px;
        padding: 5px 10px;
        label {
            opacity: 0.7;
        }
        i {
            margin-right: 5px;
        }
        input {
            flex-grow: 1;
        }
    }
    .search-box:hover {
        background-color: #ececee;
    }
    .user-utility {
        display: flex;
        align-items: center;
        button {
            position: relative;
            background-color: $background-color;
            color: $sub-text-color;
            padding: 10px;
            margin: 0 5px;
        }
        button i:nth-child(2) {
            display: none;
        }
        button:hover {
            background-color: #ececee;
        }
        .dropdown {
            display: flex;
            position: relative;   
        }
        .dropdown-content {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 0;
            width: 200px;
            background-color: $background-color-2;
            box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            animation: zoomIn ease 0.3s;
            a {
                padding: 10px;
                border-radius: 5px;
            }
            a:hover {
                background-color: $background-color;
            }
            i {
                width: 20px;
            }
        }
        .dropdown-content.show {
            display: flex;
        }
        img {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}