{% macro createPost() %}
    <div class="create-post">
        <h3 class="poppins-semibold">Post Something</h3>
        <div class="create-box">
        <img 
            class="avatar"
            src="data:image/jpeg;base64,{{ current_user.profile_picture }}" 
            alt="{{ current_user.first_name }} {{ current_user.last_name }}"
            onerror="this.src='../static/images/avatar_placeholder.jpg';"
        >
        <button id="create-post" class="poppins-medium">
            What's on your mind? <i class="fa-regular fa-face-smile"></i>
        </button>
        </div>
    </div>
{% endmacro %}