<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo-rounded.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="poppins-regular">
    <header>
        <a href="/" class="logo">
            <img src="../static/images/logo.png" alt="logo">
            <p>Parabox</p>
        </a>
        {% if current_user.is_authenticated %}
            <form class="search-box" id="search-box" action="/search" method="get">
                <label for="search_input"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input class="poppins-medium" type="search" placeholder="Search for people" name="q" id="search_input" value="{{ current_user.search }}">
            </form>
            <div class="user-utility">
                <div class="dropdown">
                    <img 
                        id="profile" 
                        class="avatar"
                        src="data:image/jpeg;base64,{{ current_user.profile_picture }}" 
                        alt="{{ current_user.first_name }} {{ current_user.last_name }}"
                        onerror="this.src='../static/images/avatar_placeholder.jpg';"
                    >
                    <div id="profile-dropdown" class="dropdown-content">
                        <a href="/profile/{{ current_user.username }}" class="poppins-medium"><i class="fa-regular fa-user"></i> My profile</a>
                        <a href="/logout" class="poppins-medium"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </header>
    <section class="block-body">
        {% block body %}{% endblock %}
    </section> 
    <script src="../static/js/layout.js"></script>
    {% block script%}{% endblock %}
</body>
</html>